/*.ant-carousel .slick-prev,*/
/*.ant-carousel .slick-prev:focus,*/
/*.ant-carousel .slick-prev:hover {*/
/*    left: 10px;*/
/*    z-index: 2;*/
/*    color: black;*/
/*}*/

/*.ant-carousel .slick-next,*/
/*.ant-carousel .slick-next:focus,*/
/*.ant-carousel .slick-next:hover {*/
/*    right: 10px;*/
/*    z-index: 2;*/
/*    color: black;*/
/*}*/

.carouselItemWrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ant-divider {
    border-top: 2px solid rgba(0,0,0,0.15);
}

.topRow {
    display: flex;
}

.middleRow {
    display: flex;
}

.bottomRow {

}