/*.ant-carousel .slick-prev,*/
/*.ant-carousel .slick-prev:focus,*/
/*.ant-carousel .slick-prev:hover {*/
/*    left: 10px;*/
/*    z-index: 2;*/
/*    color: black;*/
/*}*/

/*.ant-carousel .slick-next,*/
/*.ant-carousel .slick-next:focus,*/
/*.ant-carousel .slick-next:hover {*/
/*    right: 10px;*/
/*    z-index: 2;*/
/*    color: black;*/
/*}*/

.carouselItemWrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 2em;
    font-weight: bold;
    color: #4c4c4c;
}

.dateText {
    font-size: 1.8em;
}

.currentTemp {
    font-size: 2em;
    font-weight: bold;
}

.horizontalDivider {
    border-top: 2px solid rgba(0, 0, 0, 0.15);
}

.verticalDivider {
    border-right: 2px solid rgba(0, 0, 0, 0.15);
}

.spacer {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 300px;
    justify-content: space-between;
}

.weatherStateSection {
    align-items: center;
    width: 200px;
}

.ant-modal-confirm-btns {
    display: none;
}

.loadingScreen {
    height: 500px;
    place-content: center;
    display: flex;
}

.spinner {
    align-self: center;
}

.spinner span {
    font-size: 90px !important;
    color: #777777;
    width: 90px;
}