.resultsWrapper {
    max-height: 100%;
    overflow-y: auto;
}

.ant-list-item-meta-title {
    margin-bottom: 0;
    font-size: 28px;
}

.ant-list-item-meta-content {
    text-align: start;
    margin-left: 36px;
}