.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.header {
  background-color: #fcd76c;
  min-height: 30vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

button.ant-btn-primary, button.ant-btn-primary:focus {
  background-color: #525252;
  border-color: #525252;
}

button.ant-btn-primary:hover {
  background-color: #777777;
  border-color: #777777;
}

.body {
  height: 70vh;
  margin: 60px;
}

.greeting {
  font-size: 3em;
  font-weight: bold;
}

.listCard {
  margin-top: 24px;
}

.searchInput {
  max-width: 400px;
}

.noResults {
  display: flex;
  flex-direction: column;
  font-size: x-large;
  height: 100%;
  justify-content: center;
}